
.registro{       
   display: flex;
   flex-wrap: wrap;
 flex-direction: column;
 
}
.campo{
   display: grid;
   grid-template-columns:1fr 2fr ;
   margin: 5px;
   text-align: left;
   color: gold;
   font-size: 18px;
   font-weight: 600;
}

