<div class="container">
 
   <div class="registro">
    <form [formGroup] = "registroForm" (ngSubmit)="loguearse()">        
         
         <div class="campo">
          <label class="form-label">Email</label>
          <input type="text" class="form-control"formControlName="email">
          <p class="error" *ngIf="checkError('email', 'required')"></p>
          <p class="error" *ngIf="checkError('email', 'pattern')">
            El campo Email no es valido
          </p>
         </div>
          <div class="campo">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
            <p class="error" *ngIf="checkError('password', 'valid')">
              El campo password no es valido
          </p>
          <p>{{ noLogin }} </p>
          </div>
          <button type="submit" value="guardar">entrar</button>          
    </form>
  </div>

</div>