<div class="container">
  <div class="nav-tab">
    <div class="titulo">
        <h2>Login</h2> 
        <p>Por favor introduzca su login</p>             
          <ul>
            <li [routerLink]="['/usuarios/login']" routerLinkActive="activo">
              Login
            </li>
            <li [routerLink]="['/usuarios']" routerLinkActive="activo">
               Usuarios
            </li>
          </ul>
        </div>
   </div> 
   <div class="registro">
    <form FormGroup = "loginForm" (ngSubmit)="login()">
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control"formControlName="nombre">
         </div>
         <div class="mb-3">
           <label class="form-label">UserName</label>
           <input type="text" class="form-control"formControlName="userName">
         </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
          </div>          
    </form>
  </div>

</div>