<div class="wrapper">

  <div class="fondo">
    <div class="detalle">
      <h4>Detalle del ingreso/gasto :</h4>
      <form class="registro" [formGroup]="registroForm" (ngSubmit)="enviar()">
        <div class="form-group campo">
          <label class="form-label">Tipo Concepto</label>
          <select type="text" formControlName="tipo_concepto_id">
            <option [value]="tipo.id" *ngFor="let tipo of selectConceptoDetalle">
              {{tipo.tipo_concepto}} </option>
          </select>
        </div>
        <div class="form-group campo">
          <label class="form-label">Ingreso </label>
          <input type="number" class="form-control" formControlName="ingreso">
        </div>
        <div class="form-group campo">
          <label class="form-label">Gasto </label>
          <input type="number" class="form-control" formControlName="gasto">
        </div>
        <div class="form-group campo">
          <label class="form-label">Porcentaje de IVA </label>
          <input type="number" class="form-control" formControlName="iva_porcentaje">
        </div>
        <div class="campo">
          <label for="form-label"> Base Imponible : </label>
          <p>{{(registroForm.get('ingreso').value +
            (registroForm.get('gasto').value))/(1+(registroForm.get('iva_porcentaje').value/100)) +
            ' €'
            }}</p>
        </div>
        <div class="campo">
          <label for="form-label"> Imp IVA :</label>
          <p>
            {{
            (registroForm.get('ingreso').value + (registroForm.get('gasto').value))
            -((registroForm.get('ingreso').value +
            (registroForm.get('gasto').value))/(1+(registroForm.get('iva_porcentaje').value/100))) +
            ' €'
            }}
          </p>
        </div>
        <div class="form-group campoE">
          <label class="form-label">Eliminar Detalle Ingreso / Gasto</label>
          <input type="checkbox" formControlName="borrado">       
        <button type="submit" value="guardar">Guardar</button>
      </div>
      </form>
    </div>
  </div>
</div>