<div class="wrapper">
  <header>    
      <h3>Usuarios:</h3>     
      <ul>       
        <li [routerLink]="['/usuarios/registro']" routerLinkActive="activo">
          Nuevo Usuario
        </li>
        <li [routerLink]="['/login/registro']" routerLinkActive="activo">
           Login
        </li>
      </ul>     
  </header>
  <div class="registro">
    <form [formGroup] = "registroForm" (ngSubmit)="registrarse()">
        <div class="form-group">
          <label class="form-label">Username</label>
          <input type="text" class="form-control"formControlName="username">
         </div>
          <div class="form-group">
           <label class="form-label">Email</label>
           <input type="text" class="form-control"formControlName="email">
          </div>           
          <div class="form-group">
            <label class="form-label">Password</label>
            <input type="text" class="form-control"formControlName="password">
           </div>           
            
                  <button type="submit" value="guardar">GUARDAR</button> 
      </form>
  </div>
</div>