<div class="container">
    <div class="nav-tab">
      <div class="titulo">
          <h2>CLIENTES</h2> 
          <p>Por favor introduzca sus datos en el registro</p>             
            <ul>
              <li [routerLink]="['/clientes']" routerLinkActive="activo">
                Clientes
              </li>
              <li [routerLink]="['/clientes/registro']" routerLinkActive="activo">
                 Registro de clientes
              </li>
            </ul>
          </div>
     </div> 
    </div>