<div class="wrapper">
<header>
<h2> Estos son sus Clientes:</h2>
<p>Para actuar sobre uno pulse sobre el</p>
<ul>
  <li [routerLink]="['/clientes/registro']" routerLinkActive="activo">
    Nuevo Cliente </li>
</ul>
</header>
  <main>
  <div class="listado">
    <ul class="lista" *ngFor="let cliente of arrListaClientes">
      <div [routerLink]="['/clientes/'+cliente.id]" routerLinkActive="activo" class="campo">
       <h4>* {{cliente.nie}}</h4> 
       <h5> {{cliente.nombre}} {{cliente.apellidos}}</h5>       
        </div>     
    </ul>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
</div>