*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;     
    height: 85vh; 
    background-color:rgb(209, 220, 220);
    color: black;
    padding: 5px;
 }
 header{ 
    height:10vh ;
    background-color:rgb(187, 185, 185);    
    display: grid; 
    grid-column: 1/5;
    grid-template-columns: 1fr,3fr;    
    }
    main{
       display: grid;
       grid-template-columns: repeat(8,1fr);
       grid-row: 1fr 1fr; 
       height: 85vh;  
   }
 ul{  
   grid-column: 2/3;   
 }
 li{ 
    list-style: none;
   grid-column: 1fr;   
    border: 1px solid black;
    border-radius: 5px;
      
    }
    li:hover{
        background-color: lightblue;
    }
   ul li.activo{
        background-color:dodgerblue ;
    }