<header>
  <h3>Inmuebles:</h3>
  <ul>
    <li [routerLink]="['/inmuebles/registro']" routerLinkActive="activo">
      Nuevo Inmueble
    </li>
  </ul>
</header>
<div class="formulario">
  <form class="registro" [formGroup]="registroForm" (ngSubmit)="enviar()">
    <div class="form-group campo">
      <label class="form-label">Alias</label>
      <input type="text" class="form-control" formControlName="alias">
    </div>    
    <div class="form-group campo">
      <label class="form-label">refCatastral</label>
      <input type="text" class="form-control" formControlName="refcatastral">
    </div>   
    <div class="form-group campo">
      <label class="form-label">Localidad</label>
      <input type="text" class="form-control" formControlName="localidad">
    </div>
    <div class="form-group campo">
      <label class="form-label">Direccion</label>
      <input type="text" class="form-control" formControlName="direccion">
    </div>
    <div class="form-group campo">
      <label class="form-label">Codigo Postal</label>
      <input type="text" class="form-control" formControlName="cp">
    </div>
    <div class="form-group campo">
      <label class="form-label">Eliminar Inmueble</label>
      <input type="checkbox" formControlName="borrado" >
    </div>
    <button type="submit" value="guardar">Guardar</button>
  </form>
</div>