
<div class="wrapper">
<header>
  <h3>Inmuebles:</h3>
  <ul>
    <button [routerLink]="['/inmuebles/registro']" routerLinkActive="activo">
      Nuevo Inmueble
    </button>
  </ul>
</header>
<div class="fondo">
<div class="inmueble">
  <h4>Datos del Inmueble :</h4>
  <form class="registro" [formGroup]="registroForm" (ngSubmit)="enviar()">
    <div class="form-group campo">
      <label class="form-label">Alias</label>
      <input type="text" class="form-control" formControlName="alias">
    </div>    
    <div class="form-group campo">
      <label class="form-label">refCatastral</label>
      <input type="text" class="form-control" formControlName="refcatastral">
    </div>   
    <div class="form-group campo">
      <label class="form-label">Localidad</label>
      <input type="text" class="form-control" formControlName="localidad">
    </div>
    <div class="form-group campo">
      <label class="form-label">Direccion</label>
      <input type="text" class="form-control" formControlName="direccion">
    </div>
    <div class="form-group campo">
      <label class="form-label">Codigo Postal</label>
      <input type="text" class="form-control" formControlName="cp">
    </div>
    <div class="form-group campoE">
      <label class="form-label">Eliminar Inmueble</label>
      <input type="checkbox" formControlName="borrado" >
      <button type="submit" value="guardar">Guardar</button>
    </div>   
  </form>
</div>
</div>
</div>