
header{ 
   height:10vh ;
   background-color:rgb(187, 185, 185);    
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
   }
ul li{ 
   display: inline-block;
   list-style: none; 
   margin: 5px;
   padding: 5px;
     
   border: 1px solid black;
   border-radius: 5px;     
   }
   li:hover{
       background-color: lightblue;
   }
  ul li.activo{
       background-color:dodgerblue ;
   }