<div class="container">
  <div class="nav-tab">
    <div class="titulo">
        <h2>CLIENTES</h2> 
        <p>Por favor introduzca sus datos en el registro</p>             
          <ul>
            <li [routerLink]="['/clientes']" routerLinkActive="activo">
              Clientes
            </li>
            <li [routerLink]="['/clientes/registro']" routerLinkActive="activo">
               Registro de clientes
            </li>
          </ul>
        </div>
   </div> 

       <div class="registro">
        <form [formGroup] = "registroForm" (ngSubmit)="registrarse()">
            <div class="form-group">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control"formControlName="nombre">
             </div>
             <div class="form-group">
               <label class="form-label">Apellidos</label>
               <input type="text" class="form-control"formControlName="apellidos">
              </div>
              <div class="form-group">
                <label class="form-label">Nie</label>
                <input type="text" class="form-control" formControlName="nie">
                </div>
                <div class="form-group">
                  <label class="form-label">Fecha Nacimiento</label>
                  <input type="date" class="form-control" formControlName="fecha_nacimiento">
                  </div>
              <div class="form-group">
               <label class="form-label">Email</label>
               <input type="text" class="form-control"formControlName="email">
              </div>           
              <div class="mform-group">
                <label class="form-label">Tlf</label>
                <input type="text" class="form-control" formControlName="tlf">
              </div>
              <div class="form-group">
                <label class="form-label">Tlf. Movil</label>
                <input type="text" class="form-control" formControlName="tlfmovil">
                </div>
                <div class="form-group">
                  <label class="form-label">Localidad</label>
                  <input type="text" class="form-control" formControlName="localidad">
                  </div>
                  <div class="form-group">
                    <label class="form-label">direccion</label>
                    <input type="text" class="form-control" formControlName="direccion">
                    </div>
                    <div class="form-group">
                      <label class="form-label">Distrito Postal</label>
                      <input type="text" class="form-control" formControlName="cp">
                      </div> 
                      <button type="submit" value="guardar">GUARDAR</button>                      
        </form>
      </div>
  </div>
  
 










