@import url("../../../../styles.css");

header {
   width: 100%;
   min-height: 10vh;
   background-color: rgb(187, 185, 185);
   display: flex;
   justify-content: space-between;
}

ul li {
   list-style: none;
   margin: 5px;
   padding: 5px;
   border: 1px solid black;
   border-radius: 5px;
}

li:hover {
   background-color: lightblue;
}

ul li.activo {
   background-color: dodgerblue;
}

.formulario {
   margin-top: 10px;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 3fr 1fr;
}

.registro {
   grid-column: 2/3;
   display: flex;
   flex-direction: column;
}


.campo {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   margin-bottom: 0.5em;
}

.campo label {
   grid-column: 1;
   text-align: left;
}

.campo input {
   grid-column: 2/5;
}

button {
   border: 1px solid black;
   padding: 5px;
   border-radius: 5px;
   background-color: dodgerblue;
   align-self: center;
}