<div class="container">
    <div class="nav-tab">
      <div class="titulo">
          <h2>INMUEBLES</h2> 
          <p>Por favor introduzca los datos en el registro</p>             
            <ul>
              <li [routerLink]="['/inmuebles']" routerLinkActive="activo">
               Inmuebles
              </li>
              <li [routerLink]="['/inmuebles/registro']" routerLinkActive="activo">
                 Registro de Inmuebles
              </li>
            </ul>
          </div>
     </div> 
    </div>