<div class="wrapper">
  <header>
  <h2> Estos son sus Inmuebles:</h2>
  <p>Para actuar sobre uno pulse sobre el</p>
  <ul>
    <li [routerLink]="['/inmuebles/registro']" routerLinkActive="activo">
      Nuevo Inmueble </li>
  </ul>
  </header>
    <main>
    <div class="listado">
      <ul class="lista" *ngFor="let cliente of arrListaInmuebles">
        <div [routerLink]="['/inmuebles/'+cliente.id]" routerLinkActive="activo" class="campo">
         <h6>* {{cliente.refcatastral}}  </h6> 
         <h5>   {{cliente.alias}}</h5> 
         <h5>*{{cliente.usuario_id}}</h5>      
          </div>     
      </ul>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>
  </div>