<div class="wrapper">
  <header>    
      <h3>Inmuebles:</h3>     
      <ul>       
        <li [routerLink]="['/inmuebles/registro']" routerLinkActive="activo">
          Nuevo Inmueble
        </li>
      </ul>
   
  </header>
     <div class="listado">
     <div class="lista" *ngFor="let cliente of arrListaInmuebles">
      <h3>ID:{{cliente.id}}  {{cliente.alias}}</h3>
      <p>{{cliente.refcatastral}}</p>
      <p>{{cliente.localidad}}</p>
      <p>{{cliente.direccion}}</p>
      <p>{{cliente.cp}}</p>
   </div>
  </div>
    </div>