<div class="wrapper">
  <header>    
      <h2>Estos son sus Proveedores:</h2> 
      <p>Para actuar sobre uno pulse sobre el:</p> 
      <ul>       
        <li [routerLink]="['/proveedores/registro']" routerLinkActive="activo">
          Nuevo Proveedor
        </li>
      </ul>
    </header>
    <main>
    <div class="listado">
      <ul class="lista" *ngFor="let proveedor of arrListaProveedores">
        <div [routerLink]="['/proveedores/'+proveedor.id]" routerLinkActive="activo" class="campo">
         <h6>* {{proveedor.nie}}</h6> 
         <h5> {{proveedor.nombre}} {{proveedor.apellidos}}</h5>       
          </div>     
      </ul>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>
  </div>