<div class="wrapper">
  <article>
<h4>Declaracion de sus Usuarios </h4>
<p> Aqui se debe declarar como Administrador de su App </p>
<p>Tambien debe declara a aquellos usuarios que usted quiera que accedan a su App </p>
<p> A si mismo como el tipo de acceso que le quiera dar</p>
<p>Las declaraciones solo podra hacerlas usted como aadministrador</p>
<p>Ademas desde el boton de ayuda tendra una explicacion sencilla y clara de lo que se debera hacer para una buena interrelacion con la App</p>
</article>












</div>
