<div class="wrapper">

  <div class="formulario">
    <form class="registro" [formGroup]="registroForm" (ngSubmit)="enviar()">
      <div class="form-group campo">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre">
        <p class="error" *ngIf="checkError('nombre', 'required')">requerido</p>
        <p class="error" *ngIf="checkError('nombre', 'minlength')">
          debe tener más de 3 caracteres
        </p>
        <p class="error" *ngIf="checkError('nombre', 'maxlength')">
           debe tener menos de 45 caracteres
        </p>
      </div>

      <div class="form-group campo">
        <label class="form-label">Apellidos</label>
        <input type="text" class="form-control" formControlName="apellidos">
        <p class="error" *ngIf="checkError('apellidos', 'required')">
          requerido
        </p>
        <p class="error" *ngIf="checkError('apellidos', 'minlength')">
         más de 3 caracteres
        </p>
        <p class="error" *ngIf="checkError('apellidos', 'maxlength')">
           menos de 60 caracteres
        </p>
      </div>

      <div class="form-group campo">
        <label class="form-label">Nif</label>
        <input type="text" class="form-control" formControlName="nie">
        <p class="error" *ngIf="checkError('nie', 'required')">
          requerido
        </p>
        <p class="error" *ngIf="checkError('nie', 'dnivalidator')">
          El campo Nif no es valido
        </p>
       
      </div>

      <div class="form-group campo">
        <label class="form-label">Fecha Nacimiento</label>
        <input type="date" class="form-control" formControlName="fecha_nacimiento">
        <p class="error" *ngIf="checkError('fecha_nacimiento', 'required')">
          requerido
        </p>
      </div>

      <div class="form-group campo">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email">
        <p class="error" *ngIf="checkError('email','required')">
          requerido</p>
        <p class="error" *ngIf="checkError('email','pattern')">
          El campo Email no es valido
        </p>
      </div>
      <div class="mform-group campo">
        <label class="form-label">Tlf</label>
        <input type="text" class="form-control" formControlName="tlf">
      </div>
      <div class="form-group campo">
        <label class="form-label">Tlf. Movil</label>
        <input type="text" class="form-control" formControlName="tlf_movil">
        <p class="error" *ngIf="checkError('tlf_movil', 'required')">requerido</p>
      </div>  
      <div class="form-group campo">
        <label class="form-label">Localidad</label>
        <input type="text" class="form-control" formControlName="localidad">
        <p class="error" *ngIf="checkError('localidad', 'required')">
          requerido
        </p>
      </div>
      <div class="form-group campo">
        <label class="form-label">Direccion</label>
        <input type="text" class="form-control" formControlName="direccion">
        <p class="error" *ngIf="checkError('direccion', 'required')">
          requerido
        </p>
      </div>
      <div class="form-group campo">
        <label class="form-label">Codigo Postal</label>
        <input type="text" class="form-control" formControlName="cp">
        <p class="error" *ngIf="checkError('cp', 'required')">
          requerido
        </p>
        <p class="error" *ngIf="checkError('cp', 'minlength')">
         debe tener 5 caracteres
        </p>
        <p class="error" *ngIf="checkError('cp', 'maxlength')">
          debe tener 5 caracteres
        </p>
      </div>
      {{result}}
      <button type="submit" value="guardar" 
      [disabled]="!registroForm.valid"
      >Guardar</button>
    </form>
  </div>
</div>