* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.registro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
}
.campo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 5px;
    text-align: left;   
    font-size: 18px;
    font-weight: 600;
    font-style: oblique;
    color: gold;
    text-shadow: 4px 3px 4px black;
}
label{
    text-shadow: 2px 2px 2px 2px black;
}
input {
    margin-left: 20px;
    border: 1px solid black;
    background-color: lightblue;
    font-style: oblique;
}
button {
    margin-top: 20px;
    margin-left: 50px;
    background-color: rgb(47, 54, 154);
    width: 300px;
    border-radius: 10PX;
    color: gold;
    font-style: oblique;
 }
 
 button:hover {
    background-color: lightblue;
    color: red;
 }