<div class="container">         
  <div class="nav-tab">
      <div class="titulo">
          <h2>USUARIOS</h2> 
          <p>Por favor para poder utilizarla debe registrarse. </p>             
      <ul>
          <li [routerLink]="['/usuarios/login']" routerLinkActive="activo">
            Login
          </li>
          <li [routerLink]="['/usuarios']" routerLinkActive="activo">
              Usuarios
          </li>
      </ul>
  </div> 
  </div>
  <div class="registro">
    <form [formGroup] = "registroForm" (ngSubmit)="registrarse()">
        <div class="form-group">
          <label class="form-label">Username</label>
          <input type="text" class="form-control"formControlName="username">
         </div>
          <div class="form-group">
           <label class="form-label">Email</label>
           <input type="text" class="form-control"formControlName="email">
          </div>           
          <div class="form-group">
            <label class="form-label">Password</label>
            <input type="text" class="form-control"formControlName="password">
           </div>           
            
                  <button type="submit" value="guardar">GUARDAR</button>                      
    </form>
  </div>
</div>