* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header {
   width: 100%;
   background-color: rgb(47, 54, 154);
   text-align: left;
   display: flex;
   color: gold;
   text-shadow: 1px 1px 1px black;
   font-style: oblique;
   justify-content: space-around;
}

main {

   display: flex;
   flex-wrap: wrap;


}

img {
   margin: 0 auto;
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.fondo {
   background-color: rgb(106, 170, 191);
   min-width: 80%;
   min-height: 80vh;
   display: flex;
   flex-wrap: wrap;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 80vh;
   justify-content: space-around;
   font-style: oblique;
   background-image: url('../../../assets/business-man-3157759_1920.jpg');
   filter: grayscale(80%);
   filter: brightness(60%);
   filter: opacity(50%);
   filter: saturate(80%);
   color: black;
}

nav {
   display: flex;
   flex-direction: column;
   color: gold;
   font-style: oblique;
   text-shadow: 1px 1px 1px black;
   margin: 10px;
}

ul {
   position: sticky;
   top: 30%;
   list-style: none;
   align-items: flex-end;
   margin: 20px 0px;
   width: 20%;
}

li {
   width: 100px;
   border: 1px solid cyan;
   margin-top: 10px;
   border-radius: 10px;
}

li:hover {
   background-color: lightblue;
   color: red;
}

ul li.activo {
   background-color: dodgerblue;
   color: red;
}

.listado {
   height: 80%;
   overflow: auto;
   overflow-x: hidden;
}

.lista {
   margin-top: 30px;
   display: flex;
   flex-direction: row;
   color: gold;
   font-style: oblique;

}

.lista:hover {
   background-color: lightblue;
   color: red
}

.activo {
   background-color: dodgerblue;
   color: red;
}

.campo {
   display: flex;
   flex-direction: row;
   font-size: 18px;
   margin-left: 10px;
}

p {
   min-width: 125px;
   text-align: left;
   text-shadow: 5px 5px 5px black;
}
button { 
   grid-column: 3/4;  
   min-width: 150px;
   background-color:rgb(47, 54, 154) ;
   border: 1px solid transparent;
   padding: 5px;
   border-radius: 10px; 
   align-self: center;
   font-style: oblique;
   color: gold;
   text-shadow: 1px 1px 1px black;
}
button:hover{
   color: red;
   background-color: lightblue;
}