
<div class="container">         
        <div class="nav-tab">
            <div class="titulo">
                <h2>USUARIOS</h2> 
                <p>Bienvenido a la app para poder utilizarla debe registrarse. Si ya lo esta introzuca su login</p>             
            <ul>
                <li [routerLink]="['/usuarios/login']" routerLinkActive="activo">
                  Login
                </li>
                <li [routerLink]="['/usuarios/registro']" routerLinkActive="activo">
                    Registro
                </li>
            </ul>
        </div> 
        </div>
    </div>
