<div class="wrapper">
    <header>    
        <h3>Usuarios:</h3>     
        <ul>       
          <li [routerLink]="['/registro']" routerLinkActive="activo">
            Nuevo Usuario
          </li>
          <li [routerLink]="['/login']" routerLinkActive="activo">
             Login
          </li>
        </ul>     
    </header>
    <div class="listado">
        <div class="lista" *ngFor="let usuario of arrListaUsuarios">
            <h3>ID:{{usuario.id}}</h3>
            <p>{{usuario.username}}</p>
            <p>{{usuario.email}}}</p>
            <p>{{usuario.password}}</p>
            <p>{{usuario.rol}}</p>
        </div>
    </div>
</div>