<div class="wrapper">
  <article>
<h4>Declaracion de sus Inmuebles </h4>
<p> Aqui se deben declarar todos los inmuebles que desee controlar </p>
<p>Tendra todos los contratos, situacion y datos que necesite en cualquier lugar desde su App  solo teniendo internet</p>
<p> Todos los datos registrales, etc que pueda necesitar </p>
<p></p>
<p>Ademas desde el boton de ayuda tendra una explicacion sencilla y clara de lo que se debera hacer para una buena interrelacion con la App</p>
</article>












</div>
