* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    min-width: 100%;
    min-height: 10vh;
    flex-wrap: wrapper;
    background-color: rgb(47, 54, 154);
    color: rgb(107, 208, 236);
    text-shadow: 1px 1px 1px black;
    text-align: center;
    margin: 0 auto;
}

.logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 80px;
    height:110px;
    margin-bottom: 10px;
}
.icono {  
    top: 5px;
    left: 5px;
    width: 80px;
    height: 80px;
}
h4 {
    font-style: oblique;
    width: 80px;
    position: absolute;
    top: 85px;
}
.router {
    background-color: rgb(47, 54, 154);
    text-shadow: 1px 1px 1px black;
}


.logo:hover {
    background-color: lightblue;
    color: red;
}

button {
    background-color: transparent;
    position: absolute;
    border: 1px solid white;
    top: 5px;
    right: 5px;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    color: gold;
    text-shadow: 1px 1px 1px black;
    font-style: oblique;
    border-radius: 50%;
}

button:hover {
    background-color: lightblue;
    color: red;
}

h1 {
    font-style: oblique;
}

footer {
    text-align: center;
    color: rgb(107, 208, 236);
    min-height: 5vh;
    background-color: rgb(47, 54, 154);
}