<div class="wrapper">
  <header>
  <h1>APP GESTION DE INMUEBLES</h1>
  <div class="logo" [routerLink]="['/inicio']" routerLinkActive="activo">
    <img class="icono" src="../assets/iconos/construction_project_plan_building_architect_design_develop-75_icon-icons.com_60218.png" alt="">
    <h4>Inicio</h4>
  </div>
  <button [routerLink]="['/publi']" routerLinkActive="activo"> Salir de la App</button>
</header>
</div>

<div class="router">
<router-outlet></router-outlet>
</div>

<footer>
  <p>{{fechasistema}} </p>
</footer>