<div class="wrapper">
  <article>
<h4>pagina central de esta app </h4>
<p> Desde aqui iniciamos y volvemos desde cualquier parte de la app </p>
<p>Se puede hacer desde el navegador de la izquierda </p>
<p>o bien desde el logotipo de la aplicacion</p>
<p>Aqui se generaran los avisos necesarios para el control</p>
<p>Como: finalizacion de contrato, falta de pago, proximos recibos, etc...</p>
<p>Ademas desde el boton de ayuda tendra una explicacion sencilla y clara de lo que se debera hacer para una buena interrelacion con la App</p>
</article>












</div>
