.wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 20px 5px;
   font-style: oblique;
}

.lista {
   margin-left:10px;
   color: black;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;  
   font-style: oblique;
   text-shadow: 1px 1px 1px black;
}
.listaintervinientes
 {
   margin-left:10px;
   color: black;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row; 
   font-style: oblique;
}
.listaintervinientes:hover{
   background-color: lightgrey;
}

.campo {
   display: flex;
   flex-direction: row;
   font-size: 18px;
   margin-left: 10px; 
}
.campo:hover{
   background-color:lightgray;
  
}

label {
   min-width: 125px;
   text-align: left;
   text-shadow: 1px 1px 1px black;
}
h4{
   font-style: oblique;
   color:blue;
   text-shadow: 1px 1px 1px black;
}
p {
   margin-left: 15px;
   text-shadow: 1px 1px 1px black; 
}

button {
   width: 200px;
   border-radius: 10px;
   background-color: rgb(47, 54, 154);
   font-style: oblique;
   color: gold;
   border: 2px solid rgb(106, 170, 191) ;
}

button:hover {
   color: red;
   background-color: lightblue;

}