<div class="lista">
  <div class="campo">
    <label> Tipo Contrato:</label>
    <p>{{contrato.tipo_contrato}}</p>
  </div>
  <div class="campo">
    <label>Inmueble:</label>
    <p>{{contrato.alias}}</p>
  </div>
  <div class="campo">
    <label> Fecha Contrato:</label>
    <p>{{contrato.fecha_contrato|date}}</p>
  </div>
  <div class="campo">
    <label>Valor de Contrato:</label>
    <p>{{contrato.valor_contrato}} </p>
  </div>
  <div class="campo">
    <label> Fecha Inicio:</label>
    <p>{{contrato.fecha_inicio|date}}</p>
  </div>
  <div class="campo">
    <label> Fecha Fin:</label>
    <p>{{contrato.fecha_fin|date}}</p>
  </div>
  <div class="campo">
    <label> Tipo Periodo:</label>
    <p>{{contrato.tipo_periodo}}</p>
  </div>
  <div class="campo">
    <label> Cantidad Periodo:</label>
    <p>{{contrato.cantidad_periodo}}</p>
  </div>
  
  <div class="listado">
    <h4>Intervinientes:</h4>
    <ul class="listaintervinientes" *ngFor="let interviniente of ListaIntervinientes ">
      <p class="campointer"> {{interviniente.tipo_interviniente}} : </p>
      <p  class="campointer"> {{interviniente.apellidos}} ,  </p>
      <p  class="campointer"> {{interviniente.nombre}} , </p>
      <p class="campointer" >  {{interviniente.propiedad_cantidad}} %</p>
    </ul>
  </div>

  <button [routerLink]="['/contratos/modificar/'+contrato.id]" routerLinkActive="activo">Modificar
    Contrato</button>
</div>