<div class="wrapper">
  <article>
<h4> Balance: </h4>
<p> Podra acceder a sus balances ya sean Totales o parciales. </p>
<p> Por tiempo: Años,meses, o cualquier division que usted quiera hacer </p>
<p>Por Inmueble:Localidad, Provincia , Region, Pais , etc...</p>
<p>Tendra agrupados tanto ingresos, como gastos por tiempos, inmuebles</p>
<p>Que se iran desglosando de Mayor agrupacion a menor, hasta llegar al detalle </p>
<p>Tambien se introduciran tanto ingresos como gastos</p>
<p> Aquellos que tengan una periocidad se instalaran automaticamente</p>
</article>












</div>
