<div class="wrapper"></div>
<header>
  <h3>Contrato :</h3>
  <ul>
    <button [routerLink]="['/contratos/registro']" routerLinkActive="activo">
      Nuevo contrato
    </button>
  </ul>
</header>
<div class="fondo"> 
  
  <section class="contrato"> 
    <h4>Datos del contrato :</h4>
    <form class="registro" [formGroup]="registroForm" (ngSubmit)="enviar()">
      <div class="form-group campo">
        <label class="form-label">Tipo de Contrato</label>
        <select type="text" formControlName="tipos_contratos_id">
          <option [value]="tipo.id" *ngFor="let tipo of selectTipoContrato">
            {{tipo.tipo_contrato}} </option>
        </select>
      </div>
      <div class="form-group campo">
        <label class="form-label">Inmueble</label>
        <select type="text" formControlName="inmuebles_id">
          <option [value]="inmueble.id" *ngFor="let inmueble of selectInmueble">
            {{inmueble.refcatastral}} {{inmueble.alias}}</option>
        </select>
      </div>
      <div class="form-group campo">
        <label class="form-label">Fecha Contrato </label>
        <input type="date" class="form-control" formControlName="fecha_contrato">
      </div>
      <div class="form-group campo">
        <label class="form-label">Valor Contrato </label>
        <input type="text" class="form-control" formControlName="valor_contrato">
      </div>
      <div class="form-group campo">
        <label class="form-label">Fecha Inicio </label>
        <input type="date" class="form-control" formControlName="fecha_inicio">
      </div>
      <div class="form-group campo">
        <label class="form-label">Fecha Fin </label>
        <input type="date" class="form-control" formControlName="fecha_fin">
      </div>
      <div class="form-group campo">
        <label class="form-label">Tipo Periodo</label>
        <select type="text" formControlName="tipo_periodo_id">
          <option [value]="tipo.id" *ngFor="let tipo of selectTipoPeriodo">
            {{tipo.tipo_periodo}} </option>
        </select>
      </div>
      <div class="form-group campo">
        <label class="form-label">Cantidad Periodo </label>
        <input type="text" class="form-control" formControlName="cantidad_periodo">
      </div>
      <div class="form-group campoE">
        <label class="form-label">Eliminar Contrato</label>
        <input type="checkbox" formControlName="borrado">
        <button type="submit" value="guardar">Guardar</button>
      </div>
     
    </form>
  </section>
  <section class="listaintervinientes">
    <h4>Intervinientes : </h4>
    <ul *ngFor="let interviniente of ListaIntervinientes ">
      <li class="intervinientes"
        [routerLink]="['intervinientes/registro/' + interviniente.id]" routerLinkActive="activo">
        <p class="campoI"> {{ interviniente.tipo_interviniente}} : </p>
        <p class="campoI"> {{ interviniente.apellidos}} , </p>
        <p class="campoI"> {{ interviniente.propiedad_cantidad}} %</p>
      </li>      
    </ul>   
      <button [routerLink]="['intervinientes/registro']" routerLinkActive="activo">
        Nuevo Interviniente
      </button> 
      <div class="router">
        <router-outlet></router-outlet>
      </div> 
  </section>
 
</div>