@import url("../../../../styles.css");

header {
   width: 100%;
   min-height: 8vh;
   background-color: rgb(187, 185, 185);
   display: flex;
   justify-content: space-between;
}

ul li {
   list-style: none;
   margin: 5px;
   padding: 5px;
   border: 1px solid black;
   border-radius: 5px;
}

li:hover {
   background-color: lightblue;
}

ul li.activo {
   background-color: dodgerblue;
}
.container{
   width: 100%;
   display: flex;
   flex-direction: row;     
}
.formulario {   
   margin-top: 10px; }

.registro {   
   display: flex;
   flex-direction: column;
   margin: 0.5em;
  
}
.campo {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   margin-bottom: 0.5em;
}
.campo label {
   grid-column: 1/3;
   text-align: left;
}
select{
   grid-column: 3/6;
}
.campo input {
   grid-column: 3/6
   ;
}
button {
   width: 200px;
   border: 1px solid black;
   padding: 5px;
   border-radius: 5px; 
   align-self: center;
}
button:hover{
   background-color: lightblue;
}
.listado{
   grid-column: 2/6;
   margin-top: 10px;
}
.listaintervinientes{   
   display: flex;
   flex-direction: row;  
};
.listaintervinientes:hover{   
   display: flex;
   flex-direction: row;
   background-color: lightblue
};
.campointer{
   padding-left: 20px;  
}
p{
   grid-column: 1/3; 
   text-align: center;
   margin-left: 10px;
 }