<div class="wrapper">

<div class="fondo">
<div class="intervinientes">
  <p>Datos del  Nuevo Interviniente :</p>
  <form class="registro" [formGroup]="registroForm" (ngSubmit)="enviar()">
    <div class="form-group campo">
      <label class="form-label">Tipo de Interviniente</label>
      <select formControlName="tipo_interviniente_id">
        <option [value]="tipo.id" *ngFor="let tipo of selectTipoInterviniente">
          {{tipo.tipo_interviniente}} </option>
      </select>
    </div>
    <div class="form-group campo">
      <label class="form-label">Interviniente</label>
      <select formControlName="cliente_id">
        <option [value]="interviniente.id" *ngFor="let interviniente of selectCliente">
          {{interviniente.nie}} {{interviniente.apellidos}} {{interviniente.nombre}}</option>
      </select>
    </div>
    <div class="form-group campo">
      <label class="form-label"> % Propiedad </label>
      <input type="text" class="form-control" formControlName="propiedad_cantidad">
    </div>
    <div class="form-group campoE">
      <label class="form-label">Eliminar Interviniente</label>
      <input type="checkbox" formControlName="borrado">
       <button type="submit" value="enviar">Guardar</button>
    </div>   
  </form>
</div>
<div class="container">
</div>
</div>
</div>