* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.wrapper{
   padding: 30px;
   
}
header {
   width: 100%;
   background-color: rgb(47, 54, 154);
   text-align: left;
   display: flex;
   color: gold;
   font-style: oblique;
   justify-content: space-around;  
}
main {
   margin-top: 10px;
   display: flex;
   flex-wrap: wrap;   
  
}

img {
   margin: 0 auto;
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.fondo {
   background-color: rgb(106, 170, 191);
   min-width: 80%;
   min-height: 80vh;
   display: flex;
   flex-wrap: wrap;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 80vh;
   justify-content: space-around;
   font-style: oblique;
   background-image: url('../../../assets/accounting-1928237_1920.png');
   filter: grayscale(80%);
   filter: brightness(60%);
   filter: opacity(50%);
   filter: saturate(80%);
   color: black;
}

nav {
   display: flex;
   flex-direction: column;
   color: gold;
   font-style: oblique;
   text-shadow: 1px 1px 1px black;
   margin: 10px;
}

ul {
   position: sticky;
   top: 30%;
   list-style: none;
   align-items: flex-end;
   margin: 20px 0px;
   width: 20%;
}

li {
   width: 100px;
   border: 1px solid cyan;
   margin-top: 10px;
   border-radius: 10px;
}

li:hover {
   background-color: lightblue;
   color: red;
}

ul li.activo {
   background-color: dodgerblue;
   color: red;
}
button{
   color: gold;
   background-color: transparent;
   border-radius: 10px;
   border: lightblue;
}
button:hover{  
   background-color: dodgerblue;
   border-radius: 10px;
   border: black;
   color: red;
}
