
<div class="container">   
<div class="lista">
    <h4>Detalle del Cliente</h4>
<div class="campo">
    <label> Nombre:</label>
    <p>{{cliente.nombre}}</p>
</div>
<div class="campo">
    <label> Apellidos:</label>
   <p>{{cliente.apellidos}}</p>
</div>
<div class="campo">
    <label>DNI/NIF:</label>
   <p>{{cliente.nie}}</p>
</div>
<div class="campo">
    <label> Fecha Nacimiento:</label>
   <p>{{cliente.fecha_nacimiento|date}}</p>
</div>
<div class="campo">
    <label> Email:</label>
   <p>{{cliente.email}}</p>
</div><div class="campo">
    <label> Tlf:</label>
   <p>{{cliente.tlf}}</p>
</div>
<div class="campo">
    <label> Tlf Movil:</label>
    <p>{{cliente.tlf_movil}}</p>
</div>
<div class="campo">
    <label> Localidad:</label>
   <p>{{cliente.localidad}}</p>
</div>
<div class="campo">
    <label> Direccion:</label>
   <p>{{cliente.direccion}}</p>
</div><div class="campo">
    <label> Codigo Postal:</label>
    <p> {{cliente.cp}}</p>
</div>
<button [routerLink]="['/clientes/modificar/'+cliente.id]"routerLinkActive="activo">Modificar Cliente</button>
</div>
</div>