
<div class="campo">
    <label> Nombre:</label>
    <input placeholder={{cliente.nombre}} />
</div>
<div class="campo">
    <label> Apellidos:</label>
    <input placeholder={{cliente.apellidos}} />
</div>
<div class="campo">
    <label>NIE:</label>
    <input placeholder={{cliente.nie}} />
</div>
<div class="campo">
    <label> Fecha Nacimiento:</label>
    <input placeholder={{cliente.fecha_nacimiento}} />
</div>
<div class="campo">
    <label> Email:</label>
    <input placeholder={{cliente.email}} />
</div><div class="campo">
    <label> Tlf:</label>
    <input placeholder={{cliente.tlf}} />
</div>
<div class="campo">
    <label> Tlf Movil:</label>
    <input placeholder={{cliente.tlf_movil}} />
</div>
<div class="campo">
    <label> Localidad:</label>
    <input placeholder={{cliente.localidad}} />
</div>
<div class="campo">
    <label> Direccion:</label>
    <input placeholder={{cliente.direccion}} />
</div><div class="campo">
    <label> Codigo Postal:</label>
    <input placeholder={{cliente.cp}} />
</div>